<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/style.css">
    <title>REGISTRO</title>
</head>
<body>
    <main>Registro de Usuario</main>
    <form id="login-form">
        <label for="usuario">Nombre</label>
        <input type="text" name="usuario"  id="usuario"   placeholder="Digite su nombre">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email"  placeholder="Ingrese su E-mail">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password"  placeholder="Ingrese su contraseña">
        <button type="submit">Registrarse</button>
    </form>

    <p>Si ya está registrado <a href="/login">Iniciar Sesión</a></p>
</body>
</html>